body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 2.0;
    color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header-container {
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.nav-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 200px;
    cursor: pointer;
    
    

}
nav a {
margin: 40px;
color: black;

}


h1 {
    font-family: cursive; 
    font-weight:400;
    font-size: 55px;
    margin: 50px 0;
    padding: 0;

}

img {
    max-width: 15%;
    border-radius: 50%;
}

h2 {
    font-family: cursive;
    text-align: center;
}

p  {
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    margin: 0 40px;
   
    
}

p a {
    color: black;
    text-decoration: none;
    ;
    
}


#Contact {
    margin-top: 300px; /* Adjust the value as needed */
}

#about,
#portfolio {
    margin-top: 500px; 
     
}
.nav-link {
    cursor: pointer;
}
.nav-link:hover {
   
    transform: scale(1.1); /* Scale up the text on hover */
    transition: transform 0.5s ease; /* Add a smooth transition effect */
    background-color: #f0f0f0
}
#about-p,
#portfolio-p {
    display: none;
    
}

#about-p
{
    background-color: ghostwhite;
}
p2{
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    margin: 0 40px;
    
}
.list {
    text-align: center; /* Center-align the content within the div */
}

/* Center-align the list items within the ul element */
.list ul {
    text-align: left; /* Reset text alignment to the left for the list items */
}

h3 {
margin-bottom: 120px;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .footer-table {
    width: 60%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table horizontally on the page */
    border-collapse: collapse; /* Optional: Collapsing table borders */
  }
  
  /* Optional: Styling for table headers and table data cells */
  .footer-table th, .footer-table td {
    padding: 8px;
    text-align: left;
    border: none;
  }
  
  /* Optional: Styling for table rows */
  .footer-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Optional: Styling for email and phone links within the footer table */
  .footer-table .email-link, .footer-table .phone-link {
    color: black;
    text-decoration: none;
  }
  
  .footer-table .email-link:hover, .footer-table .phone-link:hover {
    color: blue;
    text-decoration: underline;
  }

  .hidden-content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease; /* Add a smooth transition effect for opacity */
}

.show-content {
    display: block;
    opacity: 1;
}