body {

    background-color: ;
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 2.0;
    color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
font-family: cursive;
background-color: antiquewhite;


font-weight: 60;
font-size: 55;
margin: 50;
padding: 0;
text-align: center;
}

h2{

font-family: cursive;
text-align: center;

}

p {

font-size: 20px;
font-family: cursive;
text-align: center;;


}




p2  {
    font-family: cursive;
    font-size: 30px;
    



}

image {
    size: 16px;
}

li {
    font-family: cursive;
    font-size: 20
}


p a {
    font-size: 25px; /* Adjust the desired font size */
    text-decoration: none; /* Remove underline from links */
    color: black; 
    background-color: white;/* Set the link color */
}

p b {

    text-align: center;
    font-size: 24
}

img {

    max-width:30%;
    height: auto;
    border-radius: 50%;
    
}